.car-wr {
  overflow: hidden;
  max-width: 834px;
  background-color: transparent;
}

.car-slider {
  width: 9999px;
  height: 100%;
  position: relative;
  z-index: 2;
  background-color: transparent;
}

.js-car-item {
  float: left;
  height: 491px;
  width: 1384px;
  margin-right: -2px;
}

.carousel-img {
  width: 834px;
  max-width: 834px;
  height: 100%;
  position: relative;
  float: left;
}

.carousel-img img {
  max-height: 100%;
  min-width: 100%;
  max-width: 100%;
  object-fit: contain;
  display: block;
}

.car-push {
  width: 550px;
  height: 100%;
  background-color: transparent;
  float: right;
}

.car-controls {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1;
}

.car-controls a {
  position: absolute;
  top: calc(50% - 17px);
}

.car-controls a:first-child {
  left: -67px;
}

.car-controls a:last-child {
  right: -67px;
}

.car-scroller {
  position: absolute;
  height: 10px;
  margin: 0 auto;
  bottom: -25px;
  box-sizing: border-box;
  left: calc(50% - 30px);
}

.car-scroller span {
  width: 6px;
  height: 6px;
  background-color: #676767;
  margin-right: 2px;
  display: inline-block;
  box-sizing: border-box;
  margin-bottom: 2px;
  cursor: pointer;
}

.car-scroller span:last-child {
  margin-right: 0;
}

.car-scroller .active {
  width: 10px;
  height: 10px;
  background-color: #262626;
  margin-bottom: 0;
}
